.title{
    &__main{
        color: #1B1B1B;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.96px;
        text-align: center;
    }
    &__detalis{
        color: #1B1B1B;
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
    }
    &__baggage{
        color: #1B1B1B;
        font-size: 20px;
        font-weight: 500;
        line-height: 27px;
    }
}
