.post__details{
    width: 1036px;
    display: flex;
    margin-bottom: 14px;
    &_inform, &_track {
        height: 131px;
        width: 508px;
        border-radius: 12px;
        background: #FFF;
        padding: 20px 23px 8px 18px;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        margin: 0;  
        margin-right: 20px;
    }
    &_status{
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        &_title{
            margin: 0;
            color: #1B1B1B;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
        &_subtitle{
            margin: 0;
            color: $gray;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
        &:last-child{
            margin-top: 12px;
        }
    }
    &_track{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 69px 24px 25px;
        margin: 0;
    }
    &_descr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        &_title{
            color: $green;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 32.883px;
        }
        &_subtitle{
            margin-top: 6px;
            color: $green;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
    &_img{
        margin: 0;
    }
}